@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box ;
}
body{
    font-family: 'Muli', sans-serif;
    height:100vh;
    width: 50vw;
    background-color: rgb(247, 204, 199);
    gap: 0;
} 
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:90vh;
    width: 50vw;
    overflow: hidden;
    margin-left: 500px;
    padding: 0;
    background-color: rgb(247, 204, 199);
    transition: 0.7s ease-in;
} 
.header{
    background-color: rgb(211, 252, 252);
    width: 100%;
    margin-left: 500px;
    text-align: center;
    border-radius: 50px;
    background-image:url(./pictures/GG2Z11rXwAAMVr4.jpeg) ;
    padding-top: 15px;
    color: rgb(229, 192, 199);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    height: 10vh;
    cursor: pointer;
    flex: 0.5;
    transition: 0.7s ease-in;
}
.header.active{
    transition: 0.7s ease-in;
    flex: 5;
    height: 50vh;
}
.container{
    display: flex;
    width: 90vw;
    margin-top: -150px;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    height: 70vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    margin: 5px;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.4s;
}
.panel.active{
    flex:5;  
    transition: 0.7s ease-in;
}
.panel.active h3{
    opacity: 1;
}
@media(max-width:480px){
    .container{
        width:100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}